resource_group_name  = "replace-with-staging-state-resource-group"
storage_account_name = "replacewithstagingstate"
container_name       = "tfstate"
key                  = "staging/platform.tfstate"
use_azuread_auth      = true
